<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="fileUpload">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	
	
	<div>
		<ul>
			<!-- <li th:each="vfile : ${vfiles}"> -->
				<a th:href="${vfile}" th:text="${vfile}" />
				<video width="300" height="250" controls>
		          <source src="<c:url value="${vfile}"/>" type="video/mp4">
			    </video>
			    
					<a th:href="${vfile}" th:text="${vfile}" />
					<video width="300" height="250" controls>
			          <source src="/videos/411.mp4" type="video/mp4"> 
				    </video>	
				    
				    <img src='/videos/03.png' />
				    	    
			<!-- </li> -->
		</ul>
	</div>


</body>
</html>
