<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.kbat.mapper.UserMapper">

	<resultMap id="userMap" type="edu.kosmo.kbat.vo.UserVO">
		<result property="member_number" column="member_number" />
		<result property="member_id" column="member_id" />
		<result property="password" column="password" />
		<result property="member_name" column="member_name" />
		<result property="member_phone" column="member_phone" />
		<result property="member_email" column="member_email" />
		<result property="member_address" column="member_address" />
		<result property="member_company" column="member_company" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>

	<resultMap id="authMap" type="edu.kosmo.kbat.vo.AuthVO">
		<result property="authority_id" column="authority_id" />
		<result property="authority_name" column="authority_name" />
		<result property="member_number" column="member_number" />
	</resultMap>


	<resultMap id="order" type="edu.kosmo.kbat.vo.OrderVO">
		<result property="orders_id" column="orders_id" />
		<result property="orders_price" column="orders_price" />
		<result property="orders_date" column="orders_date" />
		<result property="member_number" column="member_number" />
		<result property="member_id" column="member_id" />
		<collection property="orderDetailVO"
			resultMap="orderDetail"></collection>
		<collection property="rboardVO" resultMap="orderReview"></collection>
	</resultMap>

	<resultMap id="orderDetail"
		type="edu.kosmo.kbat.vo.OrderDetailVO">

		<result property="order_detail_id" column="order_detail_id" />
		<result property="order_detail_count"
			column="order_detail_count" />

		<result property="orders_id" column="orders_id" />
		<result property="product_id" column="product_id" />

	</resultMap>



	<select id="getUser" resultMap="userMap">
		select *
		from member, authority
		where member.member_number = authority.member_number and
		member.member_id =
		#{username}
	</select>




</mapper>
