<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kosmo.kbat.mapper.ProductMapper">
	
	<resultMap id="ProductMap" type="edu.kosmo.kbat.vo.ProductVO">
		<result property="category_id" column="category_id"/>
		<result property="category_name" column="category_name"/>
		<result property="category_parent" column="category_parent"/>
		<result property="product_id" column="product_id"/>
		<result property="product_name" column="product_name"/>
		<result property="product_price" column="product_price"/>
		<result property="product_enable" column="product_enable"/>
		<result property="product_date" column="product_date"/>
		<result property="product_stock" column="product_stock"/>
		<result property="product_description" column="product_description"/>
		<result property="video_id" column="video_id"/>
		<result property="video_name" column="video_name"/>
		<result property="image_id" column="image_id"/>
		<result property="image_name" column="image_name"/>
	</resultMap>
	
	<select id="getList" resultMap = "ProductMap">
		<![CDATA[ 
				select 
					category.category_id as category_id,
					category.category_name as category_name,
					category.category_parent as category_parent,
					product.product_id as product_id,
					product.product_name as product_name,
					product.product_price as product_price,
					product.product_enable as product_enable,
					product.product_date as product_date,
					product.product_stock as product_stock,
					product.product_description as product_description,
					video.video_id as video_id,
					video.video_name as video_name,
					image.image_id as image_id,
					image.image_name as image_name
				from 
					category,
					product,
					video,
					image 
				where 
					category.category_id = product.category_id 
					and 
					product.product_id = video.product_id 
					and 
					product.product_id = image.product_id 
					order by 
					product.product_date desc
		]]>
	
	</select>
	
 	<insert id="write" >
   		<![CDATA[
 			insert into product(product_id, 
 					product_name, 
 					product_price, 
 					product_enable, 
 					product_stock, 
 					product_description, 
 					category_id) 
 			values(product_seq.nextval, 
 					#{product_name}, 
 					#{product_price}, 
 					#{product_enable}, 
 					#{product_stock}, 
 					#{product_description},
 					#{category_id})
  		]]>
    </insert> 
 
	 
</mapper>
